body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://raw.githubusercontent.com/senaganlex/senaganlex.github.io/main/WebPortfolio/assets/image/constellations-4eee0ff82aba4d347fc46bb276834140.jpg') center/cover no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}

h1, h2 {
    margin: 0;
    color: #FFFFFF;
}

.section-content {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 20px;
    max-width: 80%;
    text-align: center; /* Center text consistently */
}

.text-box {
    color: #FFFFFF;
}

.textBox {
    font-weight: bold;
    font-size: 28px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-container button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.buttons-container button:hover {
    background-color: #45a049;
}

#projectLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #45a049;
}

.project-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-image {
    width: 25%;
    margin: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 5%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
