body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://d33wubrfki0l68.cloudfront.net/3697f8a424a77e6e5b422007590aedb27abca140/2cad2/static/constellations-4eee0ff82aba4d347fc46bb276834140.jpg') center/cover no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}

header h1 {
    margin: 0;
    color: #FFFFFF;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 20px;
}

.big-text-section {
    text-align: center;
    margin: 20px;
}

.big-text-section h1 {
    font-size: 50px;
    color: #FFFFFF;
}

.welcome-text h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-box {
    color: #FFFFFF; /* Change this to your desired text color */
}

.my-info-section,
.about-me,
.my-test-code-section {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 20px;
    max-width: 80%;
    position: relative;
}

.my-info-section::before,
.about-me::before,
.my-test-code-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-radius: 10px;
}

.my-info-section img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.my-info-section ul,
.my-test-code-section ul {
    list-style-type: none;
    padding: 0;
}

.my-info-section li,
.my-test-code-section li {
    margin-bottom: 10px;
}

.text-box {
    color: #FFFFFF;
}

.textBox {
    font-weight: bold;
    font-size: 28px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-container button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.buttons-container button:hover {
    background-color: #45a049;
}

#projectLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #45a049;
}

.project-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-image {
    width: 25%;
    margin: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}