body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://raw.githubusercontent.com/senaganlex/senaganlex.github.io/main/WebPortfolio/assets/image/constellations-4eee0ff82aba4d347fc46bb276834140.jpg') center/cover no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}

h1 { /* More general selector */
    margin: 0;
    color: #FFFFFF;
}

.section-content { /* General class for all section content */
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 20px;
    max-width: 80%;
}

.section-content h1,
.section-content h2,
.section-content p { /* More general selectors */
    color: #FFFFFF;
}

.section-content ul {
    list-style-type: none;
    padding: 0;
}

.section-content li {
    margin-bottom: 10px;
}

.big-text { /* Specific style for the welcome section */
    font-size: 50px;
}

.welcome-text { /* Specific style for the welcome section */
    font-size: 24px;
    margin-bottom: 20px;
}

/* ... rest of your styles, reorganized and simplified ... */

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-container button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.buttons-container button:hover {
    background-color: #45a049;
}


/* ... and so on...  Consolidate and simplify similar styles */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}
